@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #040404;
}

.text-area_task{
    resize: none;
    height: 40px;
    max-height: 150px;
 
}

.text-area_task::-webkit-scrollbar {
  width: 0px;
}
